#khungtimkiem{
    display: none;
}

#khungdangnhap{
    position: fixed;
    top: 28%;
    z-index: 20;
    background: white;
    left: 27%;
    display: none;
    box-shadow: 0px 0px 20px 10px black;
}
.nav__btn{
    width: 150px;
    height: 50px;
    background: none;
    border: 3px solid #cbba9c;
    outline: none;
    color: #cbba9c;
}
.banner{
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.sp{
    width: 30%;
    height: auto;
    float: left;
    cursor: pointer;

}
.sp:hover{
    animation: sp_hover linear .2s forwards;
    box-shadow: 0px 30px 40px 0px rgb(0 0 0 / 20%);
}
@keyframes sp_hover{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
}
.ul_menu li:hover{
    cursor: pointer;
    background-color: rgb(61, 56, 56);
    color: white;
    border-radius: 5px;
}
#sale{
    position: fixed;
    width: 500px;
    bottom: -300px;
    right: 10px;
    background-color: aqua;
    z-index: 11;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px white;
}

@keyframes sale{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-300px);

    }
}
@keyframes saleoff{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);

    }
}
.search{
    background-color: rgb(209, 207, 209);
    border-radius: 6px;
    border: none;
    outline: 1px solid gray;
}

#khungthanhtoan{
    position: fixed;
    width: 70%;
    top: 10%;
    z-index: 20;
    background: white;
    left: 15%;
    box-shadow: 0px 0px 30px 10px black;
    display: none;
}